.div {
    width: 400px;
    height: 600px;
    border: 1px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 1em;
}

.body {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Comic Sans MS, serif;
}

.name {
    font-size: 35px;
    font-weight: bold;
}

.inputDiv {
    width: 320px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.inputText {
    width: 200px;
    height: 50px;
    font-size: 20px;
}

.buttons {
    width: 100px;
    height: 50px;
}

.newItem {
    width: 380px;
    height: 100px;
    display: flex;
    border-bottom: 1px solid lightgray;
    justify-content: space-between;
    align-items: center;
}


